/* HERO (seção inicial) */
.hero {
  text-align: center;
  padding: 60px 0;
}

.hero h1 {
  font-size: 42px;
  font-weight: 800;
}

.highlight {
  color: #6b3be8;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}

/* CAIXA DE BUSCA */
.search-box {
  margin: 40px auto;
  padding: 25px;
  background: white;
  width: 80%;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.field label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.field input,
.field select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  appearance: none;
}

/* BOTÃO */
.btn-search {
  padding: 12px 25px;
  background: #7a42ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

.btn-search:hover {
  background: #6b3be8;
}

/* POR QUE ESCOLHER */
.pq {
  text-align: center;
  padding: 80px 40px;
}

.pq h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
}

.pq .subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 240px;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.06);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.card p {
  color: #666;
  font-size: 15px;
  line-height: 1.4;
}

/* ANIMAÇÃO */
.fade-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.fade-item.show {
  opacity: 1;
  transform: translateY(0);
}
