
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}


.content {
  flex: 1;
  padding: 40px 60px;
}


.topbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.backButton {
  background: #eee;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 22px;
}


.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.sub {
  color: #777;
  margin-top: 4px;
  font-size: 17px;
}


.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 35px 0;
}

.step {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #555;
  transition: 0.3s;
}

.done {
  background: #7c4dff;
  color: #fff;
}

.active {
  background: #9b6dff;
  color: #fff;
}


.card {
  background: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  width: 800px;
  margin: 0 auto;
  border: 2px solid #e7e7e7;
}

.cardTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}



.formGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formLabel {
  font-weight: 600;
  font-size: 14px;
  color: #4a3f73;
}

.formInput {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d8cfff;
  background: #fff;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.formInput:focus {
  border-color: #6a00ff;
  box-shadow: 0 0 0 3px rgba(106, 0, 255, 0.15);
}

.formSelect {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d8cfff;
  background: #fff;
  font-size: 14px;
  outline: none;
  appearance: none;
  transition: 0.2s;

 
  background-image: url("data:image/svg+xml;utf8,<svg fill='%236a00ff' height='24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-position: right 12px center;
  background-repeat: no-repeat;
}

.formSelect:focus {
  border-color: #6a00ff;
  box-shadow: 0 0 0 3px rgba(106,0,255,0.15);
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 12px;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btnSecondary {
  background: #fff;
  border: 1px solid #ccc;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btnPrimary {
  background: #7750ff;
  color: #fff;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btnPrimary:hover {
  background: #5a36d8;
}


@media (max-width: 900px) {
  .card {
    width: 100%;
  }

  .steps {
    gap: 40px;
  }
}

@media (max-width: 650px) {
  .content {
    padding: 20px;
  }

  .steps {
    gap: 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
.errorMsg {
  color: #e63946;
  font-size: 0.95rem;
  margin-bottom: 16px;
  font-weight: 600;
}
