.container {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 80vh;            
  width: 90%;
  background: #f8f2ff; 
       
}

.title {
font-size: 28px;
font-weight: 700;
margin-bottom: 8px;
color: #222;
}



.subtitle {
font-size: 14px;
color: #777;
margin-bottom: 32px;
}


.form {
display: flex;
flex-direction: column;
gap: 18px;
}


.formGroup {
text-align: left;
display: flex;
flex-direction: column;
gap: 6px;
}


.formGroup label {
font-size: 14px;
color: #444;
font-weight: 600;
}


.formGroup input {
padding: 12px;
border-radius: 10px;
border: 1px solid #ddd;
outline: none;
font-size: 14px;
transition: 0.2s ease;
}


.formGroup input:focus {
border-color: #9b5bff;
box-shadow: 0 0 0 2px rgba(155, 91, 255, 0.25);
}


.btn {
background: #9b5bff;
color: #fff;
padding: 14px;
width: 100%;
border: none;
border-radius: 12px;
font-size: 16px;
cursor: pointer;
margin-top: 10px;
transition: 0.3s ease;
}


.btn:hover {
background: #7f3ef9;
}


.loginLink {
margin-top: 16px;
font-size: 14px;
color: #666;
}


.loginLink a {
color: #9b5bff;
font-weight: 600;
}