/* ============================= */
/* SIDEBAR FIXA                  */
/* ============================= */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: #fff;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
  overflow-y: auto;
}

/* ============================= */
/* LOGO + TÍTULO                 */
/* ============================= */
.sidebarHeader {
  margin-bottom: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subTitulo {
  font-size: 20px;
  font-weight: 600;
  color: #6a00ff;
}

/* ============================= */
/* MENU                          */
/* ============================= */
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itemMenu {
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 16px;
  color: #333;
}

.itemMenu:hover {
  background: #f1e7ff;
}

/* Item ativo como na imagem */
.itemMenuAtivo {
  background: #ead6ff;
  color: #6a00ff;
  font-weight: 600;
  border-radius: 12px;
  padding: 12px 18px;
  transform: translateX(6px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* ============================= */
/* INFO BOX                      */
/* ============================= */
.infoBox {
  background: #f4e8ff;
  padding: 18px;
  border-radius: 18px;
  font-size: 14px;
  margin: 25px 0;
}

.infoBox p {
  margin-top: 6px;
  color: #333;
  line-height: 1.3rem;
}

/* ============================= */
/* PERFIL                        */
/* ============================= */
.profileUser {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 45px;
  height: 45px;
  background: #8a2be2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.profileUser strong {
  font-size: 16px;
  display: block;
  margin-bottom: 2px;
}

.profileUser span {
  font-size: 12px;
  color: gray;
}


.logout {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #f4f4f4;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 16px;
}

.logout:hover {
  background: #e8e8e8;
}
