
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62vw; 
  height:79vh; 
  background: #f7f5ff;
  padding: 0 16px;
  box-sizing: border-box;
}


.card {
  background: #fff;
  width: 360px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.logo {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}


.title {
  font-size: 24px;
  margin-bottom: 4px;
  font-weight: 600;
}

.subtitulo {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 20px;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #fff;
  cursor: pointer;
  font-weight: 500;
  gap: 10px;
  margin-bottom: 20px;
}


.divisor {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #9ca3af;
  font-size: 14px;
}

.divisor::before,
.divisor::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

.divisor span {
  margin: 0 10px;
}


.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-bottom: 12px;
  font-size: 14px;
}

.signinBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #0f172a;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  border: none;
}


.links {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.links a {
  color: #0f172a;
  text-decoration: none;
  font-weight: 500;
}