.conteudo {
  flex: 1;
  padding: 40px;
  background: #f9f7ff;
}

.sub {
  color: #777;
  margin-top: 5px;
}

.barraPesquisa input {
  width: 100%;
  padding: 17px;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin: 25px 0;
  font-size: 15px;
}

.filtros {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.filtros select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #eee;
  width: 300px;
}

.foto {
  height: 200px;
  width: 270px;
  border-radius: 12px;
  background: #e8d9ff;
  margin-bottom: 12px;
  overflow: hidden;
}

.tag {
  background: #f1e6ff;
  padding: 5px 12px;
  color: #6a2cd3;
  border-radius: 8px;
  font-size: 12px;
}

.btnRoxo {
  width: 100%;
  background: #8a3ffc;
  color: #fff;
  border: none;
  padding: 14px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btnRoxo:hover {
  background: #7c2df5;
}